$color-scheme: (
  'font-color': #bbb,
  'font-color-hover': #fff,
  'nav-backcol': rgb(90, 90, 90),
  'nav-backcol-hover': rgb(70, 70, 70),
);

$nav-font-color: #bbb;
$nav-font-color-hover: #fff;
$nav-backcol: rgb(90, 90, 90);
$nav-backcol-hover: rgb(70, 70, 70);

$link-transition: color 100ms ease;
$transition: 300ms ease;