@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

//custom freaking scrollbar
body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    background: rgba(250, 250, 250, 0.5);
}
  
body::-webkit-scrollbar-thumb{
    background-color: rgb(160, 160, 160);
    border-radius: 5px;
    transition: 300ms ease;
}
  
body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(120, 120, 120);
}
  
body::-webkit-scrollbar-thumb:active{
    background-color: rgb(100, 100, 100);
}

//selection
::selection{
    background: rgb(140, 140, 140);
    color: white;
    //subtle, don't hurt the eyes
}


//variables
$nav-font-color: #bbb;
$nav-font-color-hover: #fff;
$nav-backcol: rgb(90, 90, 90);
$nav-backcol-hover: rgb(70, 70, 70);

$link-transition: color 100ms ease;
$transition: 300ms ease;

//sidebar
#sidebar{
    background-color: $nav-backcol;
    border-radius: 0 0.5rem 0.5rem 0;
    position: fixed;
    width: 350px;
    height: 100vh;
    font-size: 1.1rem;
    color: $nav-font-color;
    transform: translate(-100%);
    z-index: 3;
    overflow: hidden;
    transition: transform $transition;

    .top{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background:rgb(100, 100, 100);
        margin-bottom: 1em;
        
        i{
            font-size: 1.5em;
            color: $nav-font-color;
            transition: color $transition;
            
            &:hover{
                color: white;
                cursor: pointer;
            }
        }

        button{
            background: inherit;
            border: none;
            font-size: 1em;
            
        }
    }

    hr{
        min-width: 100%;
    }

    .bottom{
        display: flex;
        flex-direction: column;
    }
    
    .links{
        display: flex;
        flex-direction: column;
        padding-right: 1em;
        
        a{
            position: relative;
            border-radius: 0 2em 2em 0;
            padding: 1em;
            color: $nav-font-color;
            text-decoration: none;
            transition:
            background-color $transition,
            padding $transition,
            color $transition;
            
            //hover effect
            &::before{
                content: '';
                position: absolute;
                width: 3px;
                height: 100%;
                top: 0;
                left: 0;
                transform: translateX(-100%);
                opacity: 0;
                transition:
                transform $transition,
                opacity $transition;
                
                @media screen and (max-width: 750px) {
                    width: 100%;
                    height: 3px;
                    bottom: 0;
                }
            }

            &.active{
                background: rgb(80, 80, 80);
                
                &::before{
                    background: rgb(64, 199, 40);
                    transform: translateX(0);
                    opacity: 1;
                }
            }
            
            //hover effect toggle
            &:hover{
                background: $nav-backcol-hover;
                padding-left: 1.5em; 
                color: #fff;

                &::before{
                    background: rgb(196, 37, 26);
                    transform: translateX(0);
                    opacity: 1;
                }
            }

            &.donate{
                border: 3px solid rgb(64, 199, 40);
                border-radius: 2em;
                margin: 0.5em 0;
                text-align: center;
                
                &::before{
                    display: none;
                }
                
                &:hover{
                    border: 3px solid rgb(196, 37, 26);
                    padding: 1em;
                    color: $nav-font-color-hover;
                }

                &.active{
                    border-radius: 2em;
                    border: 3px solid rgb(64, 199, 40);
                }
            }
        }

        .special-cta{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 1em;
        }
    }
}

#overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(.1em);
    width: 100vw;
    height: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity $transition;
}

header{
    background: $nav-backcol;
    border-radius: 0 0 0.25rem 0.25rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    opacity: 0.96;
    z-index: 2;
    
    i{
        font-size: 1.4em;
        color: $nav-font-color;
        transition: color $transition;
        
        &:hover{
            color: $nav-font-color-hover;
        }
    }
    
    .left{
        display: flex;
        justify-content: space-between;
    }

    #openbtn{
        background: inherit;
        border: none;
        margin: none;
        padding: none;
        font-size: 1em;
        
        &:hover{
            cursor: pointer;
        }
    }
    
    .input-container{
        display: flex;
        align-items: center;
        
        .searchbtn{
            background: #000;
            border: none;
            height: 2em;
            
            i{
                font-size: 1.1em;
                color: #aaa;
                
                &:hover{
                    color: #ddd;
                }
            }
            
            &:hover{
                cursor: pointer;
            }
        }

        input{
            border: none;
            border-radius: 0 1em 1em 0;
            height: 1rem;
            padding: 5px;

            &:focus-visible{
                outline: none;
            }
        }
    }
}

main{
    article{
        max-width: 75vw;
        margin: auto;
        line-height: 1.5em;

        h2{
            color: rgb(223, 11, 11);
        }       
    }
}

.container{
    background: rgb(220, 220, 220);
    border-radius: 0.5em;
    margin: 2em 0;
    padding: 1em;
}

//top btn
#goToTop{
    // display: none;
    position: fixed;
    bottom: 10%;
    right: 0;
    background:rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 1em 0 0 1em;
    width: 3em;
    height: 5em;
    color: white;
    transition: opacity $transition;
    cursor: pointer;
}

//home.html and basic styling
.Seb-pic-container{
    display: flex;
    justify-content: center;
    margin: 1em 0;
    
    img{
        border-radius: 1em;
        margin: 0.5em;
        width: 50%;
    }
}

.quote{
    background: rgba(230, 230, 230, 0.5);
    border-left: 3px solid rgb(39, 32, 66);
    margin: 1.5em;
    border-radius: 0 0.5em 0.5em 0;
    padding: 1em;
    box-shadow: 8px 8px 20px -4px #222;
    transition: transform $transition;

    &:hover{
        transform: translateX(10px);
        cursor: pointer;
    }
}

.box-container{
    display: flex;
    justify-content: center;
    margin-block: 2em;
    
    .box-message{
        padding: 0.5em;
    }
    
    .microsoft-logo{
        display: grid;
        gap: 0.5em;
        grid-template-columns: 1fr 1fr;
    }

    .boxes{
        border: 3px solid black;
        display: grid;
        place-items: center;
        min-width: 150px;
        min-height: 150px;
        opacity: 0.9;
        transition:
        transform $transition,
        opacity $transition;

        &:hover{
            transform: translateY(-10px);
            opacity: 1;
            cursor: pointer;
        }
    }    

    .red{
        background: rgb(246, 80, 34);
    }
          
    .green{
        background: rgb(127, 186, 0);
    }
          
    .blue{
        background: rgb(0, 164, 240);
    }
        
    .yellow{
        background: rgb(255, 187, 0);
    }
}

//footer
footer{
    padding: 1em;
}

.footer{
    background: $nav-backcol;
    color: $nav-font-color;
    padding: 1em;
}

//work.html
.pen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    width: 100%;

    iframe{
        width: 100%;
        height: 70vh;
        margin: 0.5em 0;
    }
}

//donate.html
.donate-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;

    .donate-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 3px solid black;
        border-radius: 0.5em;
        max-width: 200px;
        min-height: 200px;
        text-align: center;
        margin: 0 1em;
        padding: 0 1em;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        transition:
        transform $transition,
        box-shadow $transition;

        &:hover{
            transform: translateY(-10px);
            box-shadow: 12px 12px 35px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }

        i{
            font-size: 2em;
        }
    }
}

//contact.html
.contact{
    a{
        color: black;
        text-decoration: none;
        
        &:hover{
            color:rgb(45, 85, 216);
        }

        &:active{
            text-decoration: underline;
            text-decoration-color: orange;
        }

        &:visited{
            text-decoration: underline;
            text-decoration-color: red;        
        }
    }

    .contact-item{
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 0 0.5em 0.5em 0;
        padding: 1em;
        transition: all 240ms ease;

        i{
            font-size: 1.5em;
            color: black;
            width: 40px;
        }
        &::before{
            background: black;
            content: '';
            position: absolute;
            left: 0;
            width: 0.5em;
            height: 100%;
            border-radius: 0.25em 0 0 0.25em;
            opacity: 0;
            transform: translateX(-100%);
            transition: 300ms ease;
        }

        &:hover{
            background: rgba(200, 200, 200, 0.5);
            padding-left: 1.5em;
            cursor: pointer;
            
            &::before{
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}

//blog
.post-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    width: 100%;
    margin: 2em 0;
}

.post{
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    overflow: hidden;

    &:hover{
        background: #ddd;
        cursor: pointer;
    }

}

.post-header{
    text-transform: capitalize;
    h3{
        margin-bottom: 0.2em;
    }
    .date{
        font-size: 0.8em;
    }
}

.flair-container{
    display: flex;
}

.flair{
    border: 1px solid black;
    border-radius: 0.5em;
    background: #ddd;
    margin: 0 0.25em;
    padding: 0.5em;
    font-size: 0.8em;
}

//media query
@media screen and (max-width: 750px){
    #sidebar{
        width: 100%;
        
        hr{
            min-width: 80%;
        }
        .links{
            padding: 0;

            a{
                border-radius: 0;
                &.donate{
                    border-radius: 2em;
                }
            }
            .special-cta{
                margin: 0 1em;
            }
        }
    }
    
    main{
        article{
            max-width: 85vw;
        }

        .Seb-pic-container{
            flex-direction: column;
            align-items: center;
        
            img{
                width: 85%;
            }
        }
    }

    .box-container{
        flex-direction: column;
        align-items: center;
    }

    //blog
    .post-container{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 576px){

    header{
        padding: 0.6em;
    }
    main{
        article{
            max-width: 90vw;
        }
    }

    .post-container{
        flex-direction: column;
        .post{
            width: 95%;
        }
    }
}