@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 1rem "Open Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(250, 250, 250, 0.5);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(160, 160, 160);
  border-radius: 5px;
  transition: 300ms ease;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(120, 120, 120);
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgb(100, 100, 100);
}

body.slide {
  overflow: hidden;
}

::selection {
  background: rgb(140, 140, 140);
  color: white;
}

img {
  max-width: 100%;
}

#sidebar {
  background-color: rgb(90, 90, 90);
  border-radius: 0 0.5rem 0.5rem 0;
  position: fixed;
  width: 350px;
  height: 100vh;
  color: #bbb;
  transform: translate(-100%);
  z-index: 3;
  overflow: hidden;
  transition: transform 300ms ease;
}
#sidebar .links {
  display: flex;
  flex-direction: column;
  padding-right: 1em;
}
#sidebar .links a {
  border-radius: 0 2em 2em 0;
  padding: 1em;
  color: #bbb;
  text-decoration: none;
  position: relative;
  transition: background-color 300ms ease, padding 300ms ease, color 100ms ease;
}
#sidebar .links a::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 300ms ease, opacity 300ms ease;
}
@media screen and (max-width: 750px) {
  #sidebar .links a::before {
    width: 100%;
    height: 3px;
    bottom: 0;
  }
}
#sidebar .links a.active {
  background: rgb(80, 80, 80);
}
#sidebar .links a.active::before {
  background: rgb(64, 199, 40);
  transform: translateX(0);
  opacity: 1;
}
#sidebar .links a:hover {
  background: rgb(70, 70, 70);
  padding-inline: 1.5em;
  color: #fff;
}
#sidebar .links a:hover::before {
  background: rgb(196, 37, 26);
  transform: translateX(0);
  opacity: 1;
}
#sidebar .links a.donate {
  border: 3px solid rgb(64, 199, 40);
  border-radius: 3em;
  margin: 0.5em 0;
  text-align: center;
}
#sidebar .links a.donate::before {
  display: none;
}
#sidebar .links a.donate:hover {
  border: 3px solid rgb(196, 37, 26);
  color: #fff;
}
#sidebar .links a.donate.active {
  border-radius: 2em;
  border: 3px solid rgb(196, 37, 26);
}
#sidebar .links .special-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(100, 100, 100);
  margin-bottom: 1em;
  padding: 1em;
}
.sidebar__top i {
  font-size: 1.4em;
  color: #bbb;
  transition: color 300ms ease;
}
.sidebar__top i:hover {
  color: white;
  cursor: pointer;
}
.sidebar__top h2 {
  margin: 0;
}
.sidebar__top button {
  background: inherit;
  border: none;
  font-size: 1em;
}

hr {
  min-width: 100%;
}

.sidebar__bottom {
  display: flex;
  flex-direction: column;
}

#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.1em);
  width: 100vw;
  height: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 300ms ease;
}

header {
  background: rgb(90, 90, 90);
  border-radius: 0 0 0.25em 0.25em;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  opacity: 0.95;
  z-index: 2;
}
header i {
  color: #bbb;
  transition: color 300ms ease;
}
header i:hover {
  color: #fff;
}

.header__left {
  display: flex;
  justify-content: space-between;
}

#openbtn {
  background: inherit;
  border: none;
  margin: none;
  padding: none;
  font-size: 1em;
}
#openbtn:hover {
  cursor: pointer;
}

.input-container form {
  border-radius: 1em;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: box-shadow 200ms ease;
}
.input-container form:hover {
  box-shadow: 3px 3px 10px -3px #111;
}
.input-container button {
  background: #111;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}
.input-container input {
  border: none;
  outline: none;
  padding: 0.5em;
}

main {
  color: #222;
  min-height: calc(100vh - 2rem);
}
main article {
  max-width: 105ch;
  padding: 1em;
  margin: 2em auto;
  line-height: 1.6em;
}
main article h2 {
  margin-top: 2em;
  color: rgb(223, 11, 11);
}

.container {
  background: rgb(230, 230, 230);
  border-radius: 0.5em;
  margin: 2em 0;
  padding: 1em;
}

#goToTop {
  position: fixed;
  bottom: 10%;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 1em 0 0 1em;
  width: 3em;
  height: 5em;
  color: white;
  transition: opacity 300ms ease;
  cursor: pointer;
}

.Seb-pic-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
.Seb-pic-container img {
  border-radius: 0.5em;
  flex: 1 1 0;
  max-width: 45%;
}

.quote {
  background: rgba(230, 230, 230, 0.5);
  border-left: 3px solid rgb(39, 32, 66);
  margin: 1.5em;
  border-radius: 0 0.5em 0.5em 0;
  padding: 1em;
  box-shadow: 8px 8px 20px -4px #222;
  transition: transform 300ms ease;
}
.quote:hover {
  transform: translateX(10px);
  cursor: pointer;
}

.box-container {
  display: flex;
  justify-content: center;
  margin-block: 2em;
}
.box-container .box-message {
  padding: 0.5em;
}
.box-container .microsoft-logo {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr 1fr;
}
.box-container .boxes {
  border: 3px solid black;
  display: grid;
  place-items: center;
  min-width: 150px;
  min-height: 150px;
  opacity: 0.9;
  transition: transform 300ms ease, opacity 300ms ease;
}
.box-container .boxes:hover {
  transform: translateY(-10px);
  opacity: 1;
  cursor: pointer;
}
.box-container .red {
  background: rgb(246, 80, 34);
}
.box-container .green {
  background: rgb(127, 186, 0);
}
.box-container .blue {
  background: rgb(0, 164, 240);
}
.box-container .yellow {
  background: rgb(255, 187, 0);
}

footer {
  bottom: 0;
  padding: 1em;
}

.footer {
  background: rgb(90, 90, 90);
  color: #bbb;
  padding: 1em;
}

.pen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  width: 100%;
}
.pen iframe {
  width: 100%;
  height: 70vh;
  margin: 0.5em 0;
}

.donate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.donate-container .donate-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 0.5em;
  max-width: 200px;
  min-height: 200px;
  text-align: center;
  margin: 0 1em;
  padding: 0 1em;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 300ms ease, box-shadow 300ms ease;
}
.donate-container .donate-box:hover {
  transform: translateY(-10px);
  box-shadow: 12px 12px 35px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.donate-container .donate-box i {
  font-size: 2em;
}

.contact a {
  color: black;
  text-decoration: none;
}
.contact a:hover {
  color: rgb(45, 85, 216);
}
.contact a:active {
  text-decoration: underline;
  text-decoration-color: orange;
}
.contact a:visited {
  text-decoration: underline;
  text-decoration-color: red;
}
.contact .contact-item {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 0 0.5em 0.5em 0;
  padding: 1em;
  transition: all 240ms ease;
}
.contact .contact-item i {
  font-size: 1.5em;
  color: black;
  width: 40px;
}
.contact .contact-item::before {
  background: black;
  content: "";
  position: absolute;
  left: 0;
  width: 0.5em;
  height: 100%;
  border-radius: 0.25em 0 0 0.25em;
  opacity: 0;
  transform: translateX(-100%);
  transition: 300ms ease;
}
.contact .contact-item:hover {
  background: rgba(200, 200, 200, 0.5);
  padding-left: 1.5em;
  cursor: pointer;
}
.contact .contact-item:hover::before {
  opacity: 1;
  transform: translateX(0);
}

.post-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  width: 100%;
  margin: 2em 0;
}

.post {
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 0.5em;
  overflow: hidden;
}
.post:hover {
  background: #ddd;
  cursor: pointer;
}

.post-header {
  text-transform: capitalize;
}
.post-header h3 {
  margin-bottom: 0.2em;
}
.post-header .date {
  font-size: 0.8em;
}

.flair-container {
  display: flex;
}

.flair {
  border: 1px solid black;
  border-radius: 0.5em;
  background: #ddd;
  margin: 0 0.25em;
  padding: 0.5em;
  font-size: 0.8em;
}

.form-container .form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 1em;
}
.form-container .form-field:first-child {
  border-radius: 0.5em 0.5em 0 0;
}
.form-container .form-field:nth-child(3) {
  border-radius: 0 0 0.5em 0.5em;
}
.form-container .form-field:hover {
  background: rgb(210, 210, 210);
}
.form-container .form-field input {
  margin-block: 0.25em;
  padding: 0.5em;
}
.form-container .submit {
  margin-block: 1.5em;
  text-align: center;
}
.form-container .submit button {
  background: dodgerblue;
  border: none;
  border-radius: 1em;
  color: white;
  margin: auto;
  padding: 1.5em;
  cursor: pointer;
}
.form-container .account-cta {
  text-align: center;
}

@media screen and (max-width: 55em) {
  #sidebar {
    width: 100%;
  }
  #sidebar hr {
    min-width: 80%;
  }
  #sidebar .links {
    padding: 0;
  }
  #sidebar .links a {
    border-radius: 0;
    padding: 1.5em;
  }
  #sidebar .links a.donate {
    border-radius: 2em;
  }
  #sidebar .links .special-cta {
    margin: 0 1em;
  }
  main article {
    max-width: 85vw;
  }
  main .Seb-pic-container img {
    max-width: 100%;
  }
  .box-container {
    flex-direction: column;
    align-items: center;
  }
  .post-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 576px) {
  header {
    padding: 0.6em;
  }
  main article {
    max-width: 90vw;
  }
  .post-container {
    flex-direction: column;
  }
  .post-container .post {
    width: 95%;
  }
}

/*# sourceMappingURL=styles.css.map */
