@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(250, 250, 250, 0.5);
}

body::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 5px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #787878;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #646464;
}

::-moz-selection {
  background: #8c8c8c;
  color: white;
}

::selection {
  background: #8c8c8c;
  color: white;
}

#sidebar {
  background-color: #5a5a5a;
  border-radius: 0 0.5rem 0.5rem 0;
  position: fixed;
  width: 350px;
  height: 100vh;
  font-size: 1.1rem;
  color: #bbb;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  z-index: 3;
  overflow: hidden;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

#sidebar .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #646464;
  margin-bottom: 1em;
}

#sidebar .top i {
  font-size: 1.5em;
  color: #bbb;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

#sidebar .top i:hover {
  color: white;
  cursor: pointer;
}

#sidebar .top button {
  background: inherit;
  border: none;
  font-size: 1em;
}

#sidebar hr {
  min-width: 100%;
}

#sidebar .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sidebar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 1em;
}

#sidebar .links a {
  position: relative;
  border-radius: 0 2em 2em 0;
  padding: 1em;
  color: #bbb;
  text-decoration: none;
  -webkit-transition: background-color 300ms ease, padding 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, padding 300ms ease, color 300ms ease;
}

#sidebar .links a::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
  transition: opacity 300ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, opacity 300ms ease;
  transition: transform 300ms ease, opacity 300ms ease, -webkit-transform 300ms ease;
}

@media screen and (max-width: 750px) {
  #sidebar .links a::before {
    width: 100%;
    height: 3px;
    bottom: 0;
  }
}

#sidebar .links a.active {
  background: #505050;
}

#sidebar .links a.active::before {
  background: #40c728;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

#sidebar .links a:hover {
  background: #5a5a5a -hover;
  padding-left: 1.5em;
  color: #fff;
}

#sidebar .links a:hover::before {
  background: #c4251a;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

#sidebar .links a.donate {
  border: 3px solid #40c728;
  border-radius: 2em;
  margin: 0.5em 0;
  text-align: center;
}

#sidebar .links a.donate::before {
  display: none;
}

#sidebar .links a.donate:hover {
  border: 3px solid #c4251a;
  padding: 1em;
  color: #bbb;
}

#sidebar .links a.donate.active {
  border-radius: 2em;
  border: 3px solid #c4251a;
}

#sidebar .links .special-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1em;
}

#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(0.1em);
          backdrop-filter: blur(0.1em);
  width: 100vw;
  height: 0;
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

header {
  background: #5a5a5a;
  border-radius: 0 0 0.25rem 0.25rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  opacity: 0.96;
  z-index: 2;
}

header i {
  font-size: 1.4em;
  color: #bbb;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

header i:hover {
  color: #bbb -hover;
}

header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #openbtn {
  background: inherit;
  border: none;
  margin: none;
  padding: none;
  font-size: 1em;
}

header #openbtn:hover {
  cursor: pointer;
}

header .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .input-container .searchbtn {
  background: #000;
  border: none;
  height: 2em;
}

header .input-container .searchbtn i {
  font-size: 1.1em;
  color: #aaa;
}

header .input-container .searchbtn i:hover {
  color: #ddd;
}

header .input-container .searchbtn:hover {
  cursor: pointer;
}

header .input-container input {
  border: none;
  border-radius: 0 1em 1em 0;
  height: 1rem;
  padding: 5px;
}

header .input-container input:focus-visible {
  outline: none;
}

main {
  margin-bottom: 150px;
}

main article {
  max-width: 75vw;
  margin: auto;
  line-height: 1.5em;
}

main article h2 {
  color: #df0b0b;
}

.container {
  background: #e6e6e6;
  border-radius: 0.5em;
  margin: 2em 0;
  padding: 1em;
}

#goToTop {
  position: fixed;
  bottom: 10%;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 1em 0 0 1em;
  width: 3em;
  height: 5em;
  color: white;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  cursor: pointer;
}

.Seb-pic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0;
}

.Seb-pic-container img {
  border-radius: 1em;
  margin: 0.5em;
  width: 50%;
}

.quote {
  background: rgba(230, 230, 230, 0.5);
  border-left: 3px solid #272042;
  margin: 1.5em;
  border-radius: 0 0.5em 0.5em 0;
  padding: 1em;
  -webkit-box-shadow: 8px 8px 20px -4px #222;
          box-shadow: 8px 8px 20px -4px #222;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.quote:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  cursor: pointer;
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-block: 2em;
}

.box-container .box-message {
  padding: 0.5em;
}

.box-container .microsoft-logo {
  display: -ms-grid;
  display: grid;
  gap: 0.5em;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.box-container .boxes {
  border: 3px solid black;
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-width: 150px;
  min-height: 150px;
  opacity: 0.9;
  -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
  transition: opacity 300ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, opacity 300ms ease;
  transition: transform 300ms ease, opacity 300ms ease, -webkit-transform 300ms ease;
}

.box-container .boxes:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 1;
  cursor: pointer;
}

.box-container .red {
  background: #f65022;
}

.box-container .green {
  background: #7fba00;
}

.box-container .blue {
  background: #00a4f0;
}

.box-container .yellow {
  background: #ffbb00;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1em;
}

.footer {
  background: #5a5a5a;
  color: #bbb;
  padding: 1em;
}

.pen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0;
  width: 100%;
}

.pen iframe {
  width: 100%;
  height: 70vh;
  margin: 0.5em 0;
}

.donate-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em;
}

.donate-container .donate-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid black;
  border-radius: 0.5em;
  max-width: 200px;
  min-height: 200px;
  text-align: center;
  margin: 0 1em;
  padding: 0 1em;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 300ms ease, -webkit-box-shadow 300ms ease;
  transition: -webkit-transform 300ms ease, -webkit-box-shadow 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease, -webkit-box-shadow 300ms ease;
}

.donate-container .donate-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 12px 12px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 12px 12px 35px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.donate-container .donate-box i {
  font-size: 2em;
}

.contact a {
  color: black;
  text-decoration: none;
}

.contact a:hover {
  color: #2d55d8;
}

.contact a:active {
  text-decoration: underline;
  -webkit-text-decoration-color: orange;
          text-decoration-color: orange;
}

.contact a:visited {
  text-decoration: underline;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
}

.contact .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 0 0.5em 0.5em 0;
  padding: 1em;
  -webkit-transition: all 240ms ease;
  transition: all 240ms ease;
}

.contact .contact-item i {
  font-size: 1.5em;
  color: black;
  width: 40px;
}

.contact .contact-item::before {
  background: black;
  content: '';
  position: absolute;
  left: 0;
  width: 0.5em;
  height: 100%;
  border-radius: 0.25em 0 0 0.25em;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.contact .contact-item:hover {
  background: rgba(200, 200, 200, 0.5);
  padding-left: 1.5em;
  cursor: pointer;
}

.contact .contact-item:hover::before {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.post-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  width: 100%;
  margin: 2em 0;
}

.post {
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 0.5em;
  overflow: hidden;
}

.post:hover {
  background: #ddd;
  cursor: pointer;
}

.post-header {
  text-transform: capitalize;
}

.post-header h3 {
  margin-bottom: 0.2em;
}

.post-header .date {
  font-size: 0.8em;
}

.flair-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flair {
  border: 1px solid black;
  border-radius: 0.5em;
  background: #ddd;
  margin: 0 0.25em;
  padding: 0.5em;
  font-size: 0.8em;
}

.form-container .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 1em;
}

.form-container .form-field:first-child {
  border-radius: .5em .5em 0 0;
}

.form-container .form-field:nth-child(3) {
  border-radius: 0 0 .5em .5em;
}

.form-container .form-field:hover {
  background: #d2d2d2;
}

.form-container .form-field input {
  margin-block: 0.25em;
  padding: .5em;
}

.form-container .submit {
  margin-block: 1.5em;
  text-align: center;
}

.form-container .submit button {
  background: dodgerblue;
  border: none;
  border-radius: 1em;
  color: white;
  margin: auto;
  padding: 1.5em;
  cursor: pointer;
}

.form-container .account-cta {
  text-align: center;
}

@media screen and (max-width: 750px) {
  #sidebar {
    width: 100%;
  }
  #sidebar hr {
    min-width: 80%;
  }
  #sidebar .links {
    padding: 0;
  }
  #sidebar .links a {
    border-radius: 0;
  }
  #sidebar .links a.donate {
    border-radius: 2em;
  }
  #sidebar .links .special-cta {
    margin: 0 1em;
  }
  main article {
    max-width: 85vw;
  }
  main .Seb-pic-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .Seb-pic-container img {
    width: 85%;
  }
  .box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .post-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
  header {
    padding: 0.6em;
  }
  main article {
    max-width: 90vw;
  }
  .post-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post-container .post {
    width: 95%;
  }
}
/*# sourceMappingURL=styles.css.map */